h1 {
  font-family: "Handjet", cursive;
  font-size: 50px;
}
#start {
  font-family: "Handjet", cursive;
}
#jeopardy {
  text-align: center;
  font-size: 12px;
  background-color: #060ce9;
  color: white;
  border-collapse: collapse;
  border: solid 1px white;
  display: table;
}
#jeopardy th {
  width: 12em;
  padding: 1em;
  border: solid 1px white;
  text-transform: uppercase;
  font-family: "Handjet", cursive;
  font-size: 14px;
}

td {
  width: 100px;
  height: 100px;
  border: solid 1px white;

  font-family: "Handjet", cursive;
}
